.log-in__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 3rem;
}

.log-in__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #00000033;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #fff;
}

.log-in__form {
  display: flex;
  flex-direction: column;
}

.log-in__form * {
  margin: 0.5rem;
}

.log-in__form::after {
  content: "OR";
  padding: 0.8rem 0;
  text-align: center;
  font-family: "Shabnam-Thin";
  font-weight: bold;
  font-size: 0.7rem;
  color: #97a0af;
}

.log-in__input {
  padding: 0.6rem 9rem 0.6rem 0.4rem;
  font-family: "Shabnam-Thin";
  font-weight: bold;
  border: 2px solid #dfe1e6;
  background-color: #fafbfc;
  outline-color: #63a1f1;
  border-radius: 3px;
}

.log-in__input:hover {
  background-color: rgb(236, 234, 234);
}

.log-in__submit-btn {
  padding: 0.7rem 5rem;
  background-color: #0052cc;
  color: #fff;
  border: none;
  font-family: inherit;
  border-radius: 3px;
}

.log-in__submit-btn:hover {
  background-color: #1766dd;
}

/* .log-in__logo {
  width: 200px;
  height: 100px;
  margin-top: 1rem;
} */

.log-in__logo {
  width: 120px;
  height: 80px;
}

.log-in__title {
  margin-bottom: 1rem;
  color: #172b4d;
}

.log-in__sign-up-link {
  margin-top: 0.7rem;
  font-size: 0.8rem;
  font-family: "Shabnam-Thin";
  font-weight: bold;
  color: #0052cc;
}

.log-in__sign-up-link:hover {
  text-decoration: underline;
}

.log-in__message {
  align-self: flex-start;
  font-size: 0.8rem;
  color: #ff0000;
}

@media (max-width: 1000px) {
  .log-in__box {
    box-shadow: none;
    top: 2rem;
  }
  .log-in__bacground-image {
    display: none;
  }
}
