.internet-checker {
  position: fixed;
  z-index: 10;
  transition: 1s all;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.7);
  background-color: #fff;
}

.internet-checker__error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  padding: 1rem;
}

.fa-exclamation-triangle {
  color: #803a01;
  font-size: 2rem;
}

.internet-checker__massege {
  font-family: "Shabnam-Thin";
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .internet-checker {
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateX(0) !important;
    top: -0.5rem !important;
  }
}
