.list {
  width: auto;
  min-height: 5rem;
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: #ebecf0;
  margin: 1rem 0.5rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 11px 1px #000;
}

.list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}

.list__header h2 {
  font-size: 1rem;
}

.list__more-icon i {
  color: #172b4d;
}

.list-footer {
  display: flex;
  align-items: center;
}

.list-footer .addACartBtnNotClicked {
  font-family: inherit;
  color: #172b4d;
  background-color: #ebecf0;
  border: none;
  border-radius: 7px;
  padding: 0.5rem 7.5rem 0.5rem 0.5rem;
  font-size: 0.9rem;
}

.addACartBtnNotClicked:hover {
  background-color: #f54e4e4d;
}

.list-footer .addACartBtnClicked {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  color: #fff;
  background-color: #0c66e4;
  border: none;
  border-radius: 3px;
  padding: 0.4rem 0.5rem;
  font-size: 0.9rem;
}

.addACartBtnClicked:hover {
  background-color: rgb(32, 90, 172);
}

.list-footer button * {
  margin: 0 0.3rem;
}

.fa-plus {
  color: #172b4d;
}

.fa-times {
  color: #172b4d;
  margin: 0 1rem;
}

.close-add-card {
  border: none;
  background-color: #ebecf0;
  padding: 0.4rem 0.35rem;
  border-radius: 3px;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.close-add-card:hover {
  background-color: #f54e4e4d;
}

.card-title-input {
  border: none;
  outline: none;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 5rem 2.5rem 0.5rem;
  margin: 1rem 0;
  font-family: "Shabnam-Thin";
  font-weight: bold;
}

.fa-trash-o:hover {
  transition: all 0.2s;
  transform: rotate(45deg);
}

.list__list-name-input {
  padding: 0.2rem 0.5rem;
  width: 10rem;
  height: 1.6rem;
  border: none;
  background-color: #ebecf0;
  color: inherit;
  font-family: "Shabnam-Medium";
  /* font-weight: bold; */
  font-size: 1rem;
  outline-color: #0c66e4;
}
