.board__animation-logo:hover .board__animation-logo-rectangle-one {
  animation: rectangleOne 0.25s ease-in 0s infinite alternate-reverse;
}

.board__animation-logo:hover .board__animation-logo-rectangle-two {
  animation: rectangleTwo 0.25s ease-in 0s infinite alternate-reverse;
}

.board__animation-logo-rectangle-one {
  background-color: #212121;
  /* margin: 0 0.06rem; */
  width: 0.25rem;
  height: 0.65rem;
  position: absolute;
  top: 0.15rem;
  left: 0.1rem;
  transform: rotate();
}

.board__animation-logo-rectangle-two {
  background-color: #212121;
  margin: 0 0.06rem;
  width: 0.25rem;
  height: 0.3rem;
  position: absolute;
  top: 0.15rem;
  right: 0.1rem;
}

@keyframes rectangleTwo {
  0% {
    height: 0.25rem;
  }
  100% {
    height: 0.65rem;
  }
}

@keyframes rectangleOne {
  0% {
    height: 0.65rem;
  }
  100% {
    height: 0.25rem;
  }
}

/* width */
.board-canvas::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.board-canvas::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.board-canvas::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.board-canvas::-webkit-scrollbar-thumb:hover {
  background: #555;
}
