.sign-up__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 3rem;
}

.sign-up__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem 1rem 2rem;
  background-color: #fff;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
}

.sign-up__form::after {
  content: "OR";
  padding: 0.8rem 0;
  text-align: center;
  font-family: "Shabnam-Thin";
  font-weight: bold;
  font-size: 0.7rem;
  color: #97a0af;
}

.sign-up__form * {
  margin: 0.5rem;
}

.sign-up__input {
  padding: 0.6rem 9rem 0.6rem 0.4rem;
  font-family: "Shabnam-Thin";
  font-weight: bold;
  border: 2px solid #dfe1e6;
  background-color: #fafbfc;
  outline-color: #63a1f1;
  border-radius: 3px;
}

.sign-up__input:hover {
  background-color: rgb(236, 234, 234);
}

.sign-up__submit-btn {
  padding: 0.7rem 5rem;
  background-color: #0052cc;
  color: #fff;
  border: none;
  font-family: inherit;
  border-radius: 3px;
}

.sign-up__submit-btn:hover {
  background-color: #1766dd;
}

.sign-up__logo {
  width: 120px;
  height: 80px;
}

.sign-up__title {
  margin-bottom: 0.6rem;
  color: #172b4d;
}

.sign-up__log-in-link {
  margin-top: 0.7rem;
  font-size: 0.8rem;
  font-family: "Shabnam-Thin";
  font-weight: bold;
  color: #0052cc;
}

.sign-up__message {
  align-self: flex-start;
  font-size: 0.8rem;
  color: #ff0000;
}

.sign-up__message * {
  margin: 0.2rem;
}

.fa-times-circle {
  color: #ff0000;
}

.sign-up__log-in-link:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .sign-up__box {
    box-shadow: none;
    top: 2rem;
  }
  .sign-up__bacground-image {
    display: none;
  }
}
