.one-comment {
  color: #172b4d;
  background-color: #fff;
  margin: 0.25rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-family: "Shabnam-Thin";
  font-weight: bold;
  font-size: 0.9rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}
