@font-face {
  font-family: "Shabnam-Medium";
  src: url(./assets/fonts/Shabnam-Medium.woff2);
}

@font-face {
  font-family: "Shabnam-Thin";
  src: url(./assets/fonts/Shabnam-Thin.woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font: 100% "Shabnam-Medium";
    color: #172b4d;
  }
  main {
    min-height: 100vh;
  }
  i {
    color: #fff;
  }
}
